//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= title.title_name
	body
		include header
		article

			h1= title.title_name

			div.logo
				+gamecover(title.title_id)

			if !user
				p.error You are not logged in!

			form(method="post" action="/create/"+title.title_id)
				if Array.isArray(scenarios)
					if scenarios.length > 1
						p Scenario:
							br
							select(name="scenario")
								each scenario in scenarios
									option(value=scenario)= scenario
					else
						input(type="hidden" name="scenario" value=scenarios[0])
				else
					p Scenario:
						br
						select(name="scenario")
							each list, name in scenarios
								if name === ""
									each scenario in list
										option(value=scenario)= scenario
								else
									optgroup(label=name)
										each scenario in list
											option(value=scenario)= scenario

				| !{ title.create_html }

				if user
					p Notice:
						br
						input(type="text" autocomplete="off" name="notice" size=45 placeholder="What are you looking for?")

					p Pace:
						br
						label
							input(type="radio" name="pace" value="0" checked)
							| Any

						br
						label
							input(type="radio" name="pace" value="1")
							| #{EMOJI_LIVE} Live

						br
						label
							input(type="radio" name="pace" value="2")
							| #{EMOJI_FAST} Fast <i>&ndash; many moves per day</i>

						br
						label
							input(type="radio" name="pace" value="3")
							| #{EMOJI_SLOW} Slow <i>&ndash; one move per day</i>

					p
						label
							input(type="checkbox" name="is_random" value="true")
							| Random player roles

					p
						label
							input(type="checkbox" name="is_private" value="true")
							| Private

					if limit
						p.error= limit
					else
						p
							button(type="submit") Create

				else
					p <a href="/login">Login</a> or <a href="/signup">sign up</a> to play.

