<%- include('header', { title: title.title_name }) %>
<style>form{display:block;margin-left:170px;}</style>
<a href="/info/<%= title.title_id %>"><img class="logo" src="/<%= title.title_id %>/cover.jpg"></a>
<form action="/create/<%= title.title_id %>" method="post">
<p>
<% if (scenarios.length > 1) { %>
Scenario:<br>
<select name="scenario">
<% scenarios.forEach((scenario) => { %>
<option value="<%= scenario %>"><%= scenario %></option>
<% }); %>
</select>
<% } else { %>
<input type="hidden" name="scenario" value="<%= scenarios[0] %>">
<% } %>
<%- include('../public/' + title.title_id + '/create.html') %>
<p>
Description:<br>
<input type="text" autocomplete="off" name="description" size="50">
<p>
<label>
<input type="checkbox" name="random" value="true">
Random player roles
</label>
<p>
<label>
<input type="checkbox" name="private" value="true">
Private
</label>
<p>
<button type="submit">Create</button>
</form>
