<%- include('header', { title: thread.subject }) %>
<style>
input, textarea { width: 100%; max-width: 45em; }
table .author { border-right: none; }
table .time { border-left: none; font-weight: normal; }
</style>
<table class="post">
<tr>
<th class="author"><%= post.author_name %>
<th class="time"><%= post.ctime %> <%= post.edited ? "(edited " + post.mtime + ")" : "" %>
<tr>
<td class="body" colspan="2"><%- post.body %></td>
</table>
<form action="/forum/reply/<%- thread.thread_id %>" method="post">
<p>
Reply:
<br>
<textarea name="body" rows="15" cols="80" maxlength="32000" required autofocus
	placeholder="Say something nice."></textarea>
<p>
<button type="submit">Submit</button>
</form>
