<%- include('header', { title: "All Public Games", refresh: (user ? 300 : 0) }) -%>

<h2>Open</h2>
<table>
<tr><th>ID<th>Title<th>Scenario<th>Players<th>Description<th>Created<th>
<% if (open_games.length > 0) { %>
<% open_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><a href="/info/<%= row.title_id %>"><%= row.title_name %></a>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.ctime %>
<td class="command"><a href="/join/<%= row.game_id %>">Join</a>
<% }); } else { %>
<tr><td colspan="7">No open games.
<% } %>
</table>

<h2>Active</h2>
<table>
<tr><th>ID<th>Title<th>Scenario<th>Players<th>Description<th>Changed<th>Active<th>
<% if (active_games.length > 0) { %>
<% active_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><a href="/info/<%= row.title_id %>"><%= row.title_name %></a>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.mtime %>
<% if (row.is_active) { %>
<td class="is_active"><%= row.active %>
<% } else { %>
<td><%= row.active %>
<% } %>
<% if (row.is_yours) { %>
<% if (row.is_shared) { %>
<td class="command"><a href="/join/<%= row.game_id %>">View</a>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>:<%- row.your_role %>">View</a>
<% } %>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>">View</a>
<% } %>
<% }); %>
<% } else { %>
<tr><td colspan="8">No active games.
<% } %>
</table>
