<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<% if (typeof refresh !== 'undefined' && refresh > 0) { -%>
<meta http-equiv="refresh" content="<%= refresh %>">
<% } -%>
<title><%= title %></title>
<link rel="icon" href="/favicon.svg">
<link rel="stylesheet" href="/fonts/fonts.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
<a href="/"><img src="/images/rally-the-troops.svg" width="48" height="48"></a>
<nav>
<a href="/about">About</a>
<a href="/forum">Forum</a>
<% if (user) { -%>
<% if (user.unread > 0) { -%>
<a href="/inbox">Inbox (<%= unread %>)</a>
<% } else { -%>
<a href="/inbox">Inbox</a>
<% } -%>
<a href="/profile">Profile (<%= user.name %>)</a>
<% } else { -%>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<% } -%>
</nav>
</header>
<article>
<h1><%= title %></h1>
<% if (typeof flash !== 'undefined' && flash.length > 0) { -%>
<p class="error"><%= flash %></p>
<% } -%>
