//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		+social(SITE_NAME, "Play historic board games on the web.")
		meta(name="keywords" content="wargames, war games, block games")
		title= SITE_NAME
		style.
			div.list {
				display: flex;
				flex-wrap: wrap;
				gap: 8px 0;
			}
			div.item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}
			div.item a:not(:hover) {
				color: black;
				text-decoration: none;
			}
			div.item img {
				display: block;
				box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
				margin: 6px 16px;
			}
	body
		include header
		article
			h1= SITE_NAME

			p #{SITE_NAME} is a website where you can play historic board games online.

			p Registration and use is free, and there are no ads.

			div.list
				each title in titles
					unless title.is_hidden
						div.item
							div
								+gamecover(title.title_id)
							div
								a(href="/"+title.title_id)= title.title_name

			p!= process.env.SITE_INVITE
