<%- include('header', { title: title.title_name, refresh: (user ? 300 : 0) }) %>
<img class="logo" src="/<%= title.title_id %>/cover.jpg">
<%- include('../public/' + title.title_id + '/about.html') %>
<p>
Read more about the game on
<a href="https://boardgamegeek.com/boardgame/<%= title.bgg %>">boardgamegeek.com</a>.

<h2>Open Games</h2>
<table class="game">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Created<th>
<% if (open_games.length > 0) { %>
<% open_games.forEach((row) => { %>
<tr>
<td class="id"><%= row.game_id %>
<td><%= row.scenario %>
<td class="players"><%- row.player_names || `<a href="/user/${row.owner_name}">${row.owner_name}</a>` %>
<td class="description"><%= row.description %>
<td class="time"><%= row.ctime %>
<td class="command"><a href="/join/<%= row.game_id %>">Join</a>
<% }); } else { %>
<tr><td colspan="6">No open games.
<% } %>
</table>

<p>
<a href="/create/<%= title.title_id %>">Create a new game</a>.

<% if (active_games.length > 0) { %>
<h2>Active Games</h2>
<table class="game">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Changed<th>Turn<th>
<% active_games.forEach((row) => { %>
<tr>
<td class="id"><%= row.game_id %>
<td class="scenario"><%= row.scenario %>
<td class="players"><%- row.player_names %>
<td class="description"><%= row.description %>
<td class="time"><%= row.mtime %>
<td class="<%= row.is_active ? "role is_active" : "role" %>"><%= row.active %>
<% if (row.is_yours) { %>
<td class="command"><a href="/join/<%- row.game_id %>">Enter</a>
<% } else { %>
<td class="command"><a href="/play/<%- row.game_id %>/Observer">View</a>
<% } %>
<% }); %>
</table>
<% } %>

<% if (finished_games.length > 0) { %>
<h2>Finished Games</h2>
<table class="game">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Finished<th>Result<th>
<% finished_games.forEach((row) => { %>
<tr>
<td class="id"><%= row.game_id %>
<td class="scenario"><%= row.scenario %>
<td class="players"><%- row.player_names %>
<td class="description"><%= row.description %>
<td class="time"><%= row.mtime %>
<td class="result"><%= row.result %>
<% if (row.is_yours) { %>
<td class="command"><a href="/join/<%= row.game_id %>">Enter</a>
<% } else { %>
<td class="command"><a href="/play/<%- row.game_id %>/Observer">View</a>
<% } %>
<% }); %>
</table>
<% } %>
