<%- include('header', { title: title.title_name, refresh: (user ? 300 : 0) }) -%>
<img class="logo" src="/<%= title.title_id %>/cover.jpg">
<%- include('../public/' + title.title_id + '/about.html') -%>
<p>
Read more about the game on
<a href="https://boardgamegeek.com/boardgame/<%= title.bgg %>">boardgamegeek.com</a>.

<h2>Open Games</h2>
<table>
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Created<th>
<% if (open_games.length > 0) { -%>
<% open_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.ctime %>
<td class="command"><a href="/join/<%= row.game_id %>">Join</a>
<% }); } else { %>
<tr><td colspan="6">No open games.
<% } %>
</table>

<p>
<a href="/create/<%= title.title_id %>">Create a new game</a>.

<% if (active_games.length > 0) { %>
<h2>Active Games</h2>
<table class="game">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Changed<th>Turn<th>
<% active_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.mtime %>
<% if (row.is_active) { %>
<td class="is_active"><%= row.active %>
<% } else { %>
<td><%= row.active %>
<% } %>
<% if (row.is_yours) { %>
<% if (row.is_shared) { %>
<td class="command"><a href="/join/<%= row.game_id %>">Play</a>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>:<%- row.your_role %>">Play</a>
<% } %>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>">View</a>
<% } %>
<% }); %>
</table>
<% } %>

<% if (finished_games.length > 0) { %>
<h2>Finished Games</h2>
<table class="game">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Finished<th>Result<th>
<% finished_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.mtime %>
<td><%= row.result %>
<% if (row.is_yours) { %>
<% if (row.is_shared) { %>
<td class="command"><a href="/join/<%= row.game_id %>">View</a>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>:<%- row.your_role %>">View</a>
<% } %>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>">View</a>
<% } %>
<% }); %>
</table>
<% } %>
