<%- include('header', { title: title.title_name, refresh: (user ? 300 : 0) }) %>
<img class="logo" src="/<%= title.title_id %>/cover.jpg">
<%- include('../public/' + title.title_id + '/about.html') %>
<p>
Read more about the game on
<a href="https://boardgamegeek.com/boardgame/<%= title.bgg %>">boardgamegeek.com</a>.

<% if (user) { %>

<h2>Open Games</h2>
<table class="wide">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Created<th>
<% if (open_games.length > 0) { %>
<% open_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td><%= row.scenario %>
<td><%= row.player_names || row.owner_name %>
<td><%= row.description %>
<td class="nowrap"><%= row.ctime %>
<td><a href="/join/<%= row.game_id %>">Join</a>
<% }); } else { %>
<tr><td colspan="6">No open games.
<% } %>
</table>

<p>
<a href="/create/<%= title.title_id %>">Create a new game</a>.

<% if (active_games.length > 0) { %>
<h2>Active Games</h2>
<table class="wide">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Changed<th>Turn<th>
<% active_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td><%= row.scenario %>
<td><%= row.player_names %>
<td><%= row.description %>
<td class="nowrap"><%= row.mtime %>
<%
	if (row.is_your_turn) {
		%><td class="is_your_turn"><%= row.active_role %><%
	} else {
		%><td><%= row.active_role %><%
	}
	%><td><a href="/join/<%= row.game_id %>">Enter</a><%
%>
<% }); %>
</table>
<% } %>

<% if (finished_games.length > 0) { %>
<h2>Finished Games</h2>
<table class="wide">
<tr><th>ID<th>Scenario<th>Players<th>Description<th>Finished<th>Result<th>
<% finished_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td><%= row.scenario %>
<td><%= row.player_names %>
<td><%= row.description %>
<td class="nowrap"><%= row.mtime %>
<td><%= row.result %>
<td><a href="/join/<%= row.game_id %>">View</a>
<% }); %>
</table>
<% } %>

<% } else { %>

<p>
Login to create or join a game.

<% } %>
