<%- include('header', { title: game.title_name }) -%>
<style>
th, td { min-width: 10em; font-size: 16px; }
a.red { text-decoration: none; color: brown; font-size: 15px; }
td a { text-decoration: underline; color: blue; }
.hide { display: none; }
</style>
<script>
let game = <%- JSON.stringify(game) %>;
let roles = <%- JSON.stringify(roles) %>;
let players = <%- JSON.stringify(players) %>;
let user_id = <%- user.user_id %>;
let ready = <%- ready %>;
</script>
<script src="/join.js"></script>
<p id="error" class="error"></p>

<a href="/info/<%= game.title_id %>"><img class="logo" src="/<%= game.title_id %>/cover.jpg"></a>

<div class="info">
<p>
Owner: <%= game.owner_name %>
<br>
Private: <%= game.private ? "yes" : "no" %>
<br>
Scenario: <%= game.scenario %>
<br>
Options: <%= game.options %>
<br>
Description: <%= game.description || "No description." %>

<br clear=left>

<table class="small">
<tr>
<% roles.forEach((role) => { %><th id="role_<%= role.replace(/ /g, '_') %>_name"><%= role %></th><% }); %>
<tr>
<% roles.forEach((role) => { %><td id="role_<%= role.replace(/ /g, '_') %>">-</td><% }); %>
<tr>
<td id="message" colspan="<%= roles.length %>">-</td>
</table>

<p>
<button class="hide" id="delete_button" onclick="confirm_delete()">Delete</button>
<button class="hide" id="start_button" onclick="javascript:send('/start/<%= game.game_id %>')" disabled>Start!</button>
