<%- include('header', { title: "Outbox" }) -%>
<style>
.unread { background-color: lightyellow; }
</style>
<script>
function delete_all() {
	let warning = "Are you sure you want to delete ALL the messages?";
	if (window.confirm(warning))
		window.location.href = "/outbox/delete";
}
</script>
<table class="post">
<tr><th>To<th>Subject<th>Date
<% if (messages.length > 0) { messages.forEach((row) => { %>
<% if (row.read) { %>
<tr class="read">
<% } else {%>
<tr>
<% } %>
<td><a href="/user/<%- row.to_name %>"><%= row.to_name %></a>
<td><a href="/message/read/<%- row.message_id %>"><%= row.subject %></a>
<td><%= row.time %>
<% }); } else { %>
<tr><td colspan="3">No messages</td>
<% } %>
</table>
<p>
<button onclick="delete_all()">Delete all</button>
