<%- include('header', { title: "Inbox" }) %>
<p><a href="/message/send">Send message</a>
<table class="post">
<tr><th>From<th>Subject<th>Date
<% if (messages.length > 0) { messages.forEach((row) => { %>
<tr class="<%- row.read ? "read" : "unread" %>">
<td class="author"><a href="/user/<%- row.from_name %>"><%= row.from_name %></a>
<td class="subject"><a href="/message/read/<%- row.message_id %>"><%= row.subject %></a>
<td class="time"><%= row.time %>
<% }); } else { %>
<tr><td colspan="3">No messages</td>
<% } %>
</table>
<p><a href="/outbox">Outbox</a>
