<%- include('header', { title: message.subject }) %>
<script>
function delete_message(id) {
	let warning = "Are you sure you want to DELETE this message?";
	if (window.confirm(warning))
		window.location.href = "/message/delete/" + id;
}
function reply_message(id) {
	window.location.href = "/message/reply/" + id;
}
</script>
<table class="post">
<tr><th>From:<td> <a href="/user/<%- message.from_name %>"><%= message.from_name %></a>
<tr><th>To:<td> <a href="/user/<%- message.to_name %>"><%= message.to_name %></a>
<tr><th>Date:<td> <%= message.time %>
<tr><td colspan="2" class="body"><%- message.body %></td>
</table>
<p>
<% if ( 1 || message.from_id !== user.user_id ) { %>
<button onclick="reply_message(<%- message.message_id %>)">Reply</button>
<% } %>
<button onclick="delete_message(<%- message.message_id %>)">Delete</button>
