//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= SITE_NAME
	body
		include header
		article
			h1= SITE_NAME
			a(href="https://gravatar.com/"): img.avatar(src=avatar)

			p Welcome, #{user.name}!
			p Your mail address is #{user.mail}
			br(clear="left")

			p
			if user.notify
				| &#xbb; <a href="/unsubscribe">Disable mail notifications</a>
			else
				| &#xbb; <a href="/subscribe">Enable mail notifications</a>
			br
			| &#xbb;
			| Change
			| <a href="/change-password">password</a>,
			| <a href="/change-mail">mail address</a>,
			| <a href="/change-name">name</a>,
			| or <a href="/change-about">profile text</a>.
			br
			| &#xbb; <a href="/chat">Chat log</a>
			br
			| &#xbb; <a href="/logout">Logout</a>
