//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title= SITE_NAME
	body
		include header
		article
			h1= SITE_NAME

			p Welcome, #{user.name}!
			p Your mail address is #{user.mail}

			if ENABLE_MAIL
				if !user.is_verified
					p &#x26a0; <a href="/verify-mail">Verify your mail address</a>

				if user.notify
					p <a href="/unsubscribe">Disable mail notifications</a>
				else
					p <a href="/subscribe">Enable mail notifications</a>

			p
				| <a href="/change-password">Change password</a>
				br
				| <a href="/change-mail">Change mail address</a>
				br
				| <a href="/change-name">Change user name</a>
				br
				| <a href="/change-about">Change profile text</a>
				br
				| <a href="/delete-account">Delete account</a>

			if ENABLE_WEBHOOKS
				if !user.webhook
					p <a href="/webhook">Configure webhook</a>
				else if user.webhook.error
					dl
						dt <a href="/webhook">Configure webhook</a>
						dd.error ERROR: #{user.webhook.error}
				else
					dl
						dt <a href="/webhook">Configure webhook</a>
						dd= new URL(user.webhook.url).hostname

			p
				form(action="/logout" method="post")
					button(type="submit") Logout
