<%- include('header', { title: "Rally the Troops!", refresh: (active_games.length > 0 ? 300 : 0) }) -%>
<img class="avatar" src="<%= avatar %>" width="80" height="80">
<p>
Welcome, <%= user.name %>!
<p>
Your mail address is <%= user.mail %>.

<br clear=left>

<p>&#xbb;
<% if (user.notify) { %>
<a href="/unsubscribe">Disable mail notifications</a>
<% } else { %>
<a href="/subscribe">Enable mail notifications</a>
<% } %>
<br>&#xbb;
Change
<a href="/change_password">password</a>,
<a href="/change_mail">mail address</a>,
<a href="/change_name">name</a>,
or <a href="/change_about">profile text</a>.
<br>&#xbb;
<a href="/chat">Chat log</a>
<br>&#xbb;
<a href="/logout">Logout</a>

<% if (open_games.length > 0) { %>
<h2>Open Games</h2>
<table>
<thead>
<tr><th>ID<th>Game<th>Scenario<th>Players<th>Description<th>Created<th>
<tbody>
<% open_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><a href="/info/<%= row.title_id %>"><%= row.title_name %></a>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.ctime %>
<td class="command"><a href="/join/<%= row.game_id %>">Join</a>
<% }); %>
</table>
<% } %>

<% if (active_games.length > 0) { %>
<h2>Active Games</h2>
<table class="game">
<thead>
<tr><th>ID<th>Game<th>Scenario<th>Players<th>Description<th>Changed<th>Turn<th>
<tbody>
<% active_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><a href="/info/<%= row.title_id %>"><%= row.title_name %></a>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.mtime %>
<% if (row.is_active) { %>
<td class="is_active"><%= row.active %>
<% } else { %>
<td><%= row.active %>
<% } %>
<% if (row.is_shared) { %>
<td class="command"><a href="/join/
<%= row.game_id %>">Play</a>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>:<%- row.your_role %>">Play</a>
<% } %>
<% }); %>
</table>
<% } %>

<% if (finished_games.length > 0) { %>
<h2>Finished Games</h2>
<table>
<thead>
<tr><th>ID<th>Game<th>Scenario<th>Players<th>Description<th>Finished<th>Result<th>
<tbody>
<% finished_games.forEach((row) => { %>
<tr>
<td><%= row.game_id %>
<td class="w"><a href="/info/<%= row.title_id %>"><%= row.title_name %></a>
<td class="w"><%= row.scenario %>
<td><%- row.player_names %>
<td><%= row.description %>
<td class="w"><%= row.mtime %>
<td><%= row.result %>
<% if (row.is_shared) { %>
<td class="command"><a href="/join/<%= row.game_id %>">View</a>
<% } else { %>
<td class="command"><a href="/<%- row.title_id %>/play:<%- row.game_id %>:<%- row.your_role %>">View</a>
<% } %>
<% }); %>
</table>
<% } %>

<% if (open_games.length === 0 && active_games.length === 0 && finished_games.length === 0) { %>
<p>
You don't have any current or finished games.
<% } %>
