//- vim:ts=4:sw=4:
- let all_won = 0
- let all_total = 0
doctype html
html
	head
		include head
		title Statistics for #{who.name}
	body
		include header
		article
			h1 Statistics for #{who.name}

			table.striped
				thead
					tr
						th Title
						th Scenario
						th Role
						th.r Played
						th.r Won
				tbody
					each row in stats
						tr
							- all_won += row.won
							- all_total += row.total
							td= row.title_name
							td= row.scenario
							td= row.role
							td.r= row.total
							td.r= Math.round(row.won*100/row.total) + "%"
				tfoot
					tr
						td Overall
						td
						td
						td.r= all_total
						td.r= Math.round(all_won*100/all_total) + "%"

			table.striped
				thead
					tr
						th Title
						th.r Rating
						th.r Plays
						th.r Last played
				tbody
					each row in ratings
						tr
							td= row.title_name
							td.r= row.rating
							td.r= row.count
							td.r= row.last
